{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "arrow-parens": "off",
        "comma-dangle": "off",
        "no-use-before-define":"off"
    }
}